<footer class="fixed-bottom bg-dark">
  <div class="container text-center">
    <div class="row">
      <div>
        <span>Made with <ng-icon size="18" name="tablerHeart" style="color:red"></ng-icon> by Eduard Fadieiev</span>
        <!-- Facebook -->
      </div>
      <div>
        <a href="https://www.facebook.com/eddy.fadeev" target="_blank">
          <ng-icon size="24" name="tablerBrandFacebook"></ng-icon>
        </a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/eddyfadeev/" target="_blank">
          <ng-icon size="24" name="tablerBrandLinkedin"></ng-icon>
        </a>
        <!-- GitHub -->
        <a href="https://github.com/eddyfadeev" target="_blank">
          <ng-icon size="24" name="tablerBrandGithub"></ng-icon>
        </a>
        <!-- Telegram -->
        <a href="https://t.me/eddy_fadeev" target="_blank">
          <ng-icon size="24" name="tablerBrandTelegram"></ng-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
